In [106]:
from statistics import median
import pandas as pd
import numpy as np

data = pd.read_csv("car_fuel_efficiency.txt")
data = pd.DataFrame(data)

In [15]:
len(data)

9704

In [16]:
data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [ ]:
%%sql

In [17]:
data.fuel_type.unique().__len__()

2

In [31]:
(data.isna().sum())

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [39]:
max(data[data.origin == "Asia"].fuel_efficiency_mpg.values)

np.float64(23.759122836520497)

In [50]:
cleaned_data = data.horsepower.dropna()

In [90]:
if len(cleaned_data) % 2 == 1:
    median = sorted(cleaned_data)[(len(cleaned_data)+1)//2]
else:
    median = sum(sorted(cleaned_data)[len(cleaned_data)//2:len(cleaned_data)//2+1])/2
median

74.5

In [92]:
unique_values = {}
for value in cleaned_data:
    if value not in unique_values:
        unique_values[value] = sum(cleaned_data == value)

In [93]:
most_frequent = unique_values[sorted(unique_values, key=unique_values.get, reverse=True)[0]]
most_frequent

142

In [95]:
data_filled = data.horsepower.fillna(most_frequent)

In [96]:
if len(data_filled) % 2 == 1:
    new_median = sorted(data_filled)[(len(data_filled)+1)//2]
else:
    new_median = sum(sorted(data_filled)[len(data_filled)//2:len(data_filled)//2+1])/2
new_median

73.0

In [97]:
#DECREASED

In [101]:
X = data[["vehicle_weight", "model_year"]][:7]

In [107]:
xTx = X.T@X

In [108]:
xTx_inv = np.linalg.inv(xTx)

In [109]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [111]:
sum((xTx_inv@X.T)@y)

0.4903094879707429